@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
    color: #161616;
}

ul{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    color: #000;
}

img{
    display: block;
    border: 0;
}

